<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <button data-action="openEmbeddedMacros">{{localize "CAT.MEDKIT.EditEmbedded"}}</button>
</section>