<div class="cpr-medkit-header">
    <h1>
        <i class="fa-solid fa-cat" data-medkit-status="{{medkitStatus}}"></i>
        {{label}}
        {{#if statusLabel}}<p>{{localize statusLabel}}</p>{{/if}}
    </h1>
</div>